#openpose3d_main {
    position: relative;
    z-index: 0;
}

#openpose3d_canvas {
    display: block;
    width: 100%;
    height: calc(100vh - 150px);
    min-height: 400px;
}

#openpose3d_background {
    width: 100%;
    height: calc(100vh - 150px);
    min-height: 400px;
    position: absolute;
    z-index: -1;
    background-color: rgb(214, 214, 214);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#openpose3d_gui {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

/* Workaround for ashen-sensored/stable-diffusion-webui-two-shot */
#threedopenpose_right_column .output-html {
    display: block;
}
